{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center">
        <h1> 404 Error </h1>
        <h3> The page you're looking for doesn't exist. </h3>
        <hr class="intro-divider">
        <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
            <i class="fa fa-home"></i>
            Home
        </a>
    </div>
</div>
{% endblock %}