{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create Event</h1>
    </br>
    {{ wtf.quick_form(form, button_map={'submit': 'primary'}, novalidate=True) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>
{% endblock %}