{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Hello\World</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/show_events">All Events</a></li>
                    <li><a href="/save_event">Create Event</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recipent
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/show_recipients">All Recipents</a></li>
                    <li><a href="/save_recipient">Add Recipent</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}